@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#form-simulador {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: #828282;
  /* GENERAL */
  /* TITLE */
  /* FORMS */
  /* MEDIA QUERIES */
}
#form-simulador .text-primary {
  color: #1f8ece !important;
}
#form-simulador .text-bg-primary {
  background-color: #1f8ece !important;
}
#form-simulador h1 {
  color: #828282;
  font-family: "Raleway", sans-serif;
}
#form-simulador h2 {
  color: #828282;
  font-family: "Raleway", sans-serif;
}
#form-simulador h3 {
  color: #828282;
  font-family: "Raleway", sans-serif;
}
#form-simulador h4 {
  color: #828282;
  font-family: "Raleway", sans-serif;
}
#form-simulador h5 {
  color: #828282;
  font-family: "Raleway", sans-serif;
}
#form-simulador h6 {
  color: #828282;
  font-family: "Raleway", sans-serif;
}
#form-simulador .text-highlight {
  font-family: "Raleway", sans-serif;
  color: #009E96;
}
#form-simulador a {
  font-family: "Raleway", sans-serif;
  text-decoration: none !important;
}
#form-simulador p {
  font-family: "Raleway", sans-serif;
  margin-bottom: 24px;
  line-height: 1.9;
}
#form-simulador label {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px;
  color: #828282;
}
#form-simulador strong {
  font-weight: bold;
}
#form-simulador .cls-1 {
  fill: #fff;
  stroke-width: 0px;
}
#form-simulador #title-container {
  min-height: 460px;
  height: 100%;
  color: #fff;
  background: rgb(31, 142, 206);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(31, 142, 206)), color-stop(50%, rgb(56, 176, 216)));
  background: linear-gradient(180deg, rgb(31, 142, 206) 0%, rgb(56, 176, 216) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f8ece",endColorstr="#38b0d8",GradientType=1);
  font-weight: 400;
  padding: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -webkit-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
}
#form-simulador #title-container h2 {
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  padding: 0;
  margin-bottom: 0px;
}
#form-simulador #title-container h3 {
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
  padding: 0;
}
#form-simulador #title-container p {
  font-size: 13px;
  padding: 0 25px;
  line-height: 20px;
}
#form-simulador .arrow-image {
  width: 100px;
  margin-bottom: 15px;
}
#form-simulador .btn-img {
  width: 45px;
  height: auto;
  margin-left: 1em;
  fill: #1f8ece;
}
#form-simulador .btn-duvidas {
  font-size: 1em;
}
#form-simulador .btn-white {
  background-color: #fff;
  color: #1f8ece;
  border-radius: 100px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#form-simulador .btn-white:hover {
  background-color: #009E96;
  color: #fff;
}
#form-simulador .btn-white:hover .btn-img {
  fill: #fff;
}
#form-simulador .btn-outline-primary {
  color: #1f8ece;
  border: 1px solid #1f8ece;
  border-radius: 100px;
}
#form-simulador .btn-outline-primary:hover {
  border: 1px solid #009E96;
  background-color: #009E96;
  color: #fff;
}
#form-simulador .mostrador-etapas > img {
  width: 50%;
}
#form-simulador #qbox-container {
  background: #f7f9ff;
  position: relative;
  min-height: 630px;
  box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -webkit-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
}
#form-simulador #qbox-container .list-header ::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
#form-simulador #steps-container {
  margin: auto;
  width: 100%;
  min-height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#form-simulador .step,
#form-simulador .step-title {
  display: none;
  width: 100%;
}
#form-simulador .step h4,
#form-simulador .step-title h4 {
  margin: 0 0 26px 0;
  padding: 0;
  position: relative;
  font-weight: 500;
  font-size: 23px;
  font-size: 1.4375em;
  line-height: 1.6;
}
#form-simulador button#prev-btn {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  width: 130px;
  height: 50px;
  background: #1f8ece;
  margin-top: 40px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 5px !important;
}
#form-simulador button#prev-btn:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #009E96;
  content: "";
  z-index: -2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#form-simulador button#prev-btn:hover::after {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#form-simulador button#next-btn {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  width: 130px;
  height: 50px;
  background: #1f8ece;
  margin-top: 40px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 5px !important;
}
#form-simulador button#next-btn:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #009E96;
  content: "";
  z-index: -2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#form-simulador button#next-btn:hover::after {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#form-simulador button#submit-btn {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  height: 50px;
  background: #1f8ece;
  margin-top: 40px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 5px !important;
}
#form-simulador button#submit-btn:after {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #009E96;
  content: "";
  z-index: -2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#form-simulador button#submit-btn:hover::after {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#form-simulador .progress {
  border-radius: 0px !important;
}
#form-simulador .bg-highlight {
  opacity: 1;
  background-color: #009E96;
}
#form-simulador .q__question {
  position: relative;
}
#form-simulador .q__question:not(:last-child) {
  margin-bottom: 10px;
}
#form-simulador .question__input {
  position: absolute;
  left: -9999px;
}
#form-simulador .question__input:checked + .question__label:before {
  background-color: #1f8ece;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}
#form-simulador .question__input:checked + .question__label:after {
  top: 22px;
  left: 18px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#form-simulador .question__label {
  position: relative;
  display: block;
  line-height: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 20px 5px 50px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#form-simulador .question__label:hover {
  border-color: #1f8ece;
}
#form-simulador .question__label:before {
  position: absolute;
  content: "";
  top: 12px;
  left: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #ced4da;
          box-shadow: inset 0 0 0 1px #ced4da;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#form-simulador .question__label:after {
  position: absolute;
  content: "";
}
#form-simulador .form-check-input:checked {
  background-color: #1f8ece !important;
  outline: none !important;
  border: none !important;
}
#form-simulador .form-check-input:focus {
  background-color: #1f8ece !important;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer !important;
}
#form-simulador .form-check-input:checked[type=radio] {
  border: none !important;
  outline: 0px !important;
  -webkit-outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
#form-simulador .form-check-input:checked[type=radio]:hover {
  border: none !important;
  outline: 0px !important;
  -webkit-outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
#form-simulador .form-check-input:checked[type=radio]:focus {
  border: none !important;
  outline: 0px !important;
  -webkit-outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
#form-simulador .form-check-input:checked[type=radio]:active {
  border: none !important;
  outline: 0px !important;
  -webkit-outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
#form-simulador input:focus {
  outline: none;
}
#form-simulador #input-container {
  display: inline-block;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 36px !important;
}
#form-simulador label.form-check-label.radio-lb {
  margin-right: 15px;
}
#form-simulador #q-box__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#form-simulador input[type=text],
#form-simulador input[type=email],
#form-simulador input[type=file] {
  padding: 8px 14px;
  border: 1px solid #1f8ece;
}
#form-simulador input[type=text]:focus,
#form-simulador input[type=email]:focus,
#form-simulador input[type=file]:focus {
  border: 1px solid #009E96;
  border-radius: 5px;
  outline: 0px !important;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#form-simulador input[type=file] {
  padding: 0.375em 0.75em;
}
#form-simulador input[type=file]::-webkit-file-upload-button {
  background-color: #1f8ece;
  color: #fff;
}
#form-simulador input[type=file]::file-selector-button {
  background-color: #1f8ece;
  color: #fff;
}
#form-simulador input[type=file]::-webkit-file-upload-button:hover {
  background-color: #009E96 !important;
}
#form-simulador input[type=file]::file-selector-button:hover {
  background-color: #009E96 !important;
}
#form-simulador input[type=file]::-webkit-file-upload-button:hover {
  background-color: #009E96 !important;
}
#form-simulador input[type=file]::file-selector-button:hover {
  background-color: #009E96 !important;
}
#form-simulador .form-select {
  padding: 8px 14px;
  border: 1px solid #1f8ece;
}
#form-simulador .form-select:focus {
  border: 1px solid #009E96;
  border-radius: 5px;
  outline: 0px !important;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#form-simulador .choices::after {
  display: none;
}
#form-simulador input[type=radio]:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer !important;
}
#form-simulador .conheceu-radio-group {
  padding-left: 0;
}
#form-simulador .conheceu-radio-group .conheceu-input {
  display: none;
}
#form-simulador .conheceu-radio-group .conheceu-input:checked + .conheceu-label {
  border: 1px solid #1f8ece;
  background-color: #1f8ece;
  color: #fff;
}
#form-simulador .conheceu-radio-group .conheceu-label {
  padding: 0.5em;
  border: 1px solid #1f8ece;
}
#form-simulador .conheceu-radio-group .conheceu-label:hover {
  border: 1px solid #009E96;
  background-color: #009E96;
  color: #fff;
  cursor: pointer;
}
#form-simulador .range-slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 10px;
  border-radius: 5px;
  /* Specified height */
  background: #1f8ece;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 1;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#form-simulador .range-slider:hover {
  background: #1f8ece;
  opacity: 0.8;
  /* Fully shown on mouse-over */
}
#form-simulador .range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: #009E96;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  border: 1px solid #009E96;
}
#form-simulador .range-slider::-moz-range-thumb {
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: #009E96;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  border: 1px solid #009E96;
}
#form-simulador #success,
#form-simulador #success-title {
  display: none;
}
#form-simulador #success h4,
#form-simulador #success-title h4 {
  color: #1f8ece;
}
#form-simulador #success h4 {
  color: #1f8ece;
}
#form-simulador #success h4 {
  color: #1f8ece;
}
#form-simulador .success-item {
  width: 15px;
}
#form-simulador .result-item {
  font-size: 2em;
  color: #009E96;
  line-height: 1.5;
}
#form-simulador .result-item--caption {
  font-size: 0.55em;
  color: #828282;
}
#form-simulador .result-item strong {
  color: #009E96;
}
#form-simulador .back-link {
  font-weight: 700;
  color: #1f8ece;
  text-decoration: none;
  font-size: 18px;
}
#form-simulador .back-link:hover {
  color: #009E96;
}
#form-simulador .back-link:hover {
  color: #38b0d8;
}
#form-simulador .back-link:hover {
  color: #38b0d8;
}
@media (min-width: 990px) and (max-width: 1199px) {
  #form-simulador #title-container {
    padding: 80px 28px 28px 28px;
  }
  #form-simulador #steps-container {
    width: 85%;
  }
}
@media (max-width: 991px) {
  #form-simulador #title-container {
    padding: 30px;
    min-height: inherit;
  }
}
@media (max-width: 767px) {
  #form-simulador #steps-container {
    width: 100%;
    min-height: 400px;
  }
  #form-simulador #title-container {
    padding-top: 50px;
  }
  #form-simulador .breadcrumb-item {
    font-size: 0.75em;
    padding-bottom: 0.5em;
  }
  #form-simulador .breadcrumb-item::before {
    display: none;
  }
  #form-simulador .mostrador-etapas > img {
    width: 75%;
  }
}
@media (max-width: 560px) {
  #form-simulador #title-container {
    padding-top: 45px;
  }
  #form-simulador button#submit-btn, #form-simulador button#next-btn, #form-simulador button#prev-btn {
    font-size: 8px;
  }
}

/* PRELOADER */
#preloader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
#preloader-wrapper .preloader-section {
  width: 51%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #f7f9ff;
  z-index: 1000;
}
#preloader-wrapper .preloader-section.section-left {
  left: 0;
}
#preloader-wrapper .preloader-section.section-right {
  right: 0;
}

#preloader {
  background-image: url("../images/preloader.svg");
  background-repeat: no-repeat;
  width: 109px;
  height: 108px;
  border-top-color: #fff;
  border-radius: 100%;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

.loaded #preloader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
.loaded #preloader-wrapper .preloader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #preloader-wrapper .preloader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #preloader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}/*# sourceMappingURL=style.css.map */